In [2]:
#pythonic 1
#packing

a, b, c = 10, 20, 30
d = a, b, c
print(f'd={d}')

#kalau pengen list tinggal kasih []

d=(10, 20, 30)

In [ ]:
#pythonic 2
#pertukaran nilai

a, b = 10, 20
a, b =b, a

In [7]:
#pythonic 3
#chained comparison

a = 25
#print((a >= 20) and (a <= 30))

print(20 <=a<=30)

True

In [13]:
#pythonic 3
#unpacking

listku = [10,20,30]

#variabel untuk menampung sebuah list

a, b, c = listku

print(f'listku={listku}')
print(f'a={a}, b={b}, c={c}')

listku=[10, 20, 30]
a=10, b=20, c=30

In [11]:
#pythonic 4
#for loop

listku = [10, 20, 30]
for item in listku:
    print(item)

10
20
30

In [2]:
#pythonic 5
#enumarate

nim = ['001', '002', '003']
nama = ['al', 'ju', 'ni']

#for i in range(len(nim)):
#   print(f'{nim[i]}--{nama[i]}')

for i,data_nim in enumerate(nim):
    print(f'{data_nim}--{nama[i]}')

001--al
002--ju
003--ni

In [4]:
#pythonic 6
#zip

nim = ['001', '002', '003']
nama = ['al', 'ju', 'ni']
hobi =['makan', 'nyanyi', 'tidur']

for d_nim, d_nama, d_hobi in zip (nim, nama, hobi):
    print(f'{d_nim}--{d_nama}--{d_hobi}')

001--al--makan
002--ju--nyanyi
003--ni--tidur

In [6]:
#pythonic 7
#map

def lipat_ganda(x):
    return x * 2

listku =[10, 20, 30]
listmu = []

for item in listku:
    listmu.append(lipat_ganda(item))

print(listku)
print(listmu)

[10, 20, 30]
[20, 40, 60]

In [12]:
listmu = list(map(lipat_ganda, listku))
print(listku)
print(listmu)

[10, 20, 30]
[20, 40, 60]

In [13]:
#pythonic 8
#lambda expresion

listmu = list(map(lambda x: x*2, listku))
print(listku)
print(listmu)

[10, 20, 30]
[20, 40, 60]

In [14]:
#pythonic 9
#list comprehension

listku=[]
for i in range(1, 50):
    listku.append(i)

print(listku)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [15]:
listku = [i for i in range(1,51)]
print(listku)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [16]:
#pythonic 10
#list comprehension dan conditional if
listmu =[30, 60 , 10, 50]
listku = []

for item in listmu:
    if item > 50:
        listku.append(item)

print(listku)

[60]

In [19]:
listku =[item for item in listmu if item > 50]
print(listku)

[60]

In [20]:
#pythonic 11
#list comprenhension dan zip function

nama=['al', 'jun', 'ni']
usia=[10, 12 , 11]

listku=[]

for i in range(len(nama)):
    listku.append([nama[i], usia[i]])

print(listku)

[['al', 10], ['jun', 12], ['ni', 11]]

In [21]:
listku = [[d_nama, d_usia] for d_nama, d_usia in zip (nama, usia)]

print(listku)

[['al', 10], ['jun', 12], ['ni', 11]]

In [22]:
#pythonic 12
#slicing

listmu = [10, 20, 30, 40]
listku = listmu[2:5]

print(listku)

[30, 40]

In [25]:
#pythonic 13
#reversing a list and string

listmu = [10, 20, 30 ,40 ,50]
listku = listmu[::-1]

print(listku)

kata= 'BELAJAR'
kata_balik = kata[::-1]
print(kata_balik)

[50, 40, 30, 20, 10]
RAJALEB

In [30]:
#pythonic 14
#spliting a string

teks = 'belajar bahasa python'
listku=teks.split()

print(listku)

teks2 = 'belajar,bahasa,python'
listku2 = teks2.split(',')
print(listku2)

['belajar', 'bahasa', 'python']
['belajar', 'bahasa', 'python']

In [1]:
#pythonic 15
#join string

listku = ['belajar', 'pemrogaman', 'python']
kalimat = ' '.join(listku)
print(kalimat)

belajar pemrogaman python

In [5]:
#pythonic 16
#chained function call

def tambah(a, b):
    return a + b

def kali(a, b):
    return a * b

x, y = 10, 20
kondisi = False

hasil = (tambah if kondisi else kali)(x, y)
print(hasil)

200

In [7]:
#pythonic 17
#switch case

def one():
    print('satu')

def two():
    print('dua')
    
def three():
    print('tiga')

case = 'dua'
switch = {
    'satu': one,
    'dua': two,
    'tiga': three,
}

switch[case]()

dua

In [8]:
#pythonic 18
#ternary expresion

a = 10
b = 'negatif' if a < 10 else 'positif'

print(f'{a} bernilai {b}')

10 bernilai positif

In [9]:
#pythonic 19
#underscore _

for _ in range(3):
    print('pythonic')

pythonic
pythonic
pythonic

In [10]:
listku=[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
a, b, *_ = listku
print(a, b)

1 2

In [11]:
#pythonic 20
#function IN
#mengecek keberaddan nilai dalam bahasa pemrogaman

listku=[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
cari = 11

if cari in listku:
    print('ditemukan')
else:
    print('tidak ditemukan')

tidak ditemukan

In [12]:
#pythonic 21
#multiple return values

def fungsiku():
    nim = 89
    nama = 'al'
    ipk = 3.21
    return nim, nama, ipk

a, b, c = fungsiku()
print(a)
print(b)
print(c)

89
al
3.21

In [14]:
#pythonic 22
#Mengenal Fungsi Zip untuk Menyatukan Sekumpulan List yang Berkorelasi pada Python

nim = ['001', '002', '003']
nama = ['al', 'ju', 'ni']
ipk = [3.21, 3.33, 3.91]

siswa = list(zip(nim, nama, ipk))
print(siswa)

[('001', 'al', 3.21), ('002', 'ju', 3.33), ('003', 'ni', 3.91)]

In [18]:
#pythonic 23
#Mengenal Fungsi Unzip untuk Memecah Sekumpulan Nilai pada List ke Beberapa Variabel

nim , nama, ipk = zip(*siswa)

print(nim)
print(nama)
print(ipk)

('001', '002', '003')
('al', 'ju', 'ni')
(3.21, 3.33, 3.91)

In [19]:
#pythonix 24
#Mengenal Method Count pada List untuk Menghitung Jumlah Kemunculan Suatu Nilai

listku = [10, 20, 30, 20, 30, 20, 40, 50, 60, 70]
cari = 20
jumlah = listku.count(cari)

print(jumlah)

3