In [3]:
# Memeriksa kesamaan antar kolom (Series) pada Data Frame | Python Pandas

In [4]:
import pandas as pd, numpy as np

In [5]:
data = {'A': [15, 15, 18, np.nan, 12],
       'B': [15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

In [ ]:
#Mengenal pandas series
#series pada dasarnya adalah kolom

In [6]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [7]:
type(df['A'])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
#memeriksa kesamaan dengan operator ==

df['A'] == df['B']

#operator == tidak dapat memriksa NaN

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [10]:
#lebih baik mengunakan method equals

df['A'].equals(df['B'])

True

In [11]:
df1 = df,copy(depp=True)

df.equals(df1)

NameError: name 'copy' is not defined