In [9]:
import numpy as np

In [12]:
a = np.arange(10)**2
print(a)
print("elemen ke-1",a[0])
print("elemen terakhir",a[-1])

[ 0  1  4  9 16 25 36 49 64 81]
elemen ke-1 0
elemen terakhir 81

In [13]:
print("mengambil element dari 1-6", a[0:6]) #[start,end]

mengambil element dari 1-6 [ 0  1  4  9 16 25]

In [14]:
print("mengambil element dari 4 sampai akhir", a[3:]) #[start,end]

mengambil element dari 3 sampai akhir [ 9 16 25 36 49 64 81]

In [15]:
print("mengambil element dari awal sampai 5", a[:5]) #[start,end]

mengambil element dari awal sampai 5 [ 0  1  4  9 16]

In [16]:
for i in a:
    print("value",i)

value 0
value 1
value 4
value 9
value 16
value 25
value 36
value 49
value 64
value 81