In [1]:
#Menata ulang Data Frame dengan multiple indexes menggunakan unstack

In [2]:
import pandas as pd, numpy as np

ModuleNotFoundError: No module named 'pandas'

In [ ]:
#load data frame dengan function .read
df = pd.read_csv('./Data/titanicfull.csv')

df.head()

In [ ]:
#data frame dengan multiple indexes dari hasil grouping

In [ ]:
#mengelompokan berdasrkan pclass dan sex

In [ ]:
df.groupby(['sex', 'pclass'])['survived'].mean().to_frame()

#to_frame mempercantik tampilan
#dalam bentuk frame

In [ ]:
#menata ulang data frame dengan mutiple index

In [ ]:
df.groupby(['sex', 'pclass'])['survived'].mean().unstack()